
body {
    background-color: #2e2d2c;
    color: white;
    margin: 0;
    text-align: center;
}


.navbar {
    top: 0px;
    background-color: #2e0000;
    background-blend-mode: darken;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;   
}

.navbar ul {
    list-style: none;
    text-align: center;
}

.navbar ul li {
    display: inline-block
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    margin-right: 20px;
}

.navbar ul li a:hover {
    color: #ffb1b1;
}

.main_body {
    font-size: 25px;
}

.container {
    display: inline-block;
    min-width: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 5px;
    border-color: darkcyan;
    border-style: solid;
    border-radius: 20px;
    padding-right: 20px;
    background: darkslategray;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.card_title {
    margin: 5px;
}

.card_about {
    text-align: left;
    padding-left: 30px;
    margin: 5px;
}

.bullet_lists {
    display: inline-block;
}

.bullets {
    text-align: left;
}


footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-align: center;
}

a {
    color: #2e0000;
}

a:visited {
  color: #a06666;
}